.signUp {
  font-family: $spoqa-font;
  padding-top: 5%;
  padding-bottom: 130px;

  h1 {
    color: $flanet-green;
  }

  .signUpTerm {
    input {
      cursor: pointer;
      border-color: $flanet-green;

      &:checked {
        background-color: $flanet-green;
      }
    }

    label {
      cursor: pointer;
      color: $flanet-green;
    }

    &:hover {
      transition-duration: 0.3s;
      opacity: 0.5;
    }
  }

  .signUpButton {
    cursor: pointer;
    background-color: $flanet-green;

    &:hover {
      transition-duration: 0.3s;
      opacity: 0.5;
    }
  }
  .returnLoginPage {
    padding-top: 100px;

    span {
      color: $flanet-yellow;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        transition-duration: 0.3s;
        opacity: 0.5;
      }
    }
  }
}
