.blocklyDiv {
  height: 42%;
  width: 100%;
  position: absolute;
  top: 13vh;
}

.displayTable {
  height: 42%;
  width: 31%;
  position: absolute;
  bottom: 0;
  left: 1%;
  border: solid;
  display: inline-block;
}

.displayChart {
  height: 42%;
  width: 31%;
  position: absolute;
  bottom: 0;
  left: 34%;
  border: solid;
  display: inline-block;
}

.displayCode {
  height: 42%;
  width: 31%;
  position: absolute;
  bottom: 0;
  left: 68%;
  border: solid;
  display: inline-block;
  white-space: pre-line;
}
