.displayCode {
  padding: 15px;
  background-color: $flanet-white;
  color: $flanet-black;
  overflow-y: auto;
  font-size: 13px;
  height: 80%;
  white-space: pre-line;
  word-break: break-all;
  line-height: 20px;
}

.displayContent {
  padding: 15px;
  color: $flanet-black;
  font-size: 20px;
}
